# Next.js
.next/
out/
node_modules/

# Jekyll (legacy)
_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.tweet-cache
Gemfile.lock
vendor

# OS
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
